# Ignore files and directories commonly excluded in Docker builds

# Files
.git
.svn
.idea
.DS_Store
*.md
*.txt

# Directories
node_modules
bower_components

# Specific files
docker-compose.yml
.env
.env.*